@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: rgb(201, 201, 201);
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    font-size: 25px;
    padding: 25px;
}

.lastResult {
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    width: 50%;
}

.container {
    background: -webkit-linear-gradient(45deg, rgb(31, 93, 133), rgb(69, 44, 112));
    background: -moz-linear-gradient(45deg, rgb(31, 93, 133), rgb(69, 44, 112));
    background: linear-gradient(45deg, rgb(31, 93, 133), rgb(69, 44, 112));
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 450px;
    width: 40%;
    min-height: 250px;

}
.guessSubmit{
    display: block;
    margin: auto;
    margin-top: 20px;

}
.lab{
    margin: auto;
    margin-bottom: 15px;
}
.guessField{
    margin-left: 30px;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 20px;
}
.guessField:hover{
    background-color: rgb(114, 175, 199);
}
.guessField:focus{
    background-color: rgb(123, 192, 219);
    border: none;
}
.btn{
    min-width: 200px;
    word-wrap: normal;
    height: 40px;
    color: aliceblue;
    border: 1px solid rgba(245, 245, 245, 0.178);
    border-radius: 20px;
    background: -webkit-linear-gradient(180deg, rgb(37, 102, 144) 15%, rgb(40, 66, 144) 73%, rgb(57, 50, 171) 100%);
    background: -moz-linear-gradient(180deg, rgb(37, 102, 144) 15%, rgb(40, 66, 144) 73%, rgb(57, 50, 171) 100%);
    background: linear-gradient(180deg, rgb(37, 102, 144) 15%, rgb(40, 66, 144) 73%, rgb(57, 50, 171) 100%);
    display: block;
    margin: auto;
    margin-top: 20px;
    
}
.btn:hover{
    margin-left: auto;
    min-width: 200px;
    word-wrap: normal;
    height: 40px;
    color: aliceblue;
    border-radius: 20px;
    background: -webkit-linear-gradient(180deg, rgb(47, 123, 172) 15%, rgb(46, 77, 172) 73%, rgb(69, 61, 199) 100%);
    background: -moz-linear-gradient(180deg, rgb(47, 123, 172) 15%, rgb(46, 77, 172) 73%, rgb(69, 61, 199) 100%);
    background: linear-gradient(180deg, rgb(47, 123, 172) 15%, rgb(46, 77, 172) 73%, rgb(69, 61, 199) 100%);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.27);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.27);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.27);
}
.card-input {
    margin-top: 150px;
    align-self: center;
    min-width: 450px;
    width: 50%;
}


@media screen and (max-width: 1200px) {
    .card {
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-top: 15px;
      
    }

    .text {
        margin-left: 22.500px;
    }

  }
